**1-Write a Python program to calculate the length of a string using 2 ways

In [3]:
name = 'Mahmoud'
length = len(name)
print(length)

7

In [4]:
name = 'Mahmoud'
length = 0
for i in name:
    length += 1
print(length)

7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [7]:
name = input('Enter your name: ')

if len(name) < 2:
    print('Empty String')
else:
    print(name[0:2] + name[-2:])

Empty String

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [11]:
n = input('Enter a word: ')
if len(n) < 3:
    print(n)
else:
    if n[-3:] == 'ing':
        print(n + 'ly')
    else:
        print(n + 'ing')

as

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [179]:
def getLongestWord(words):
    longestWord = ''
    for word in words:
        if len(word) > len(longestWord):
            longestWord = word
    return f'Longest word: {longestWord} \nLength of the longest word: {len(longestWord)}'

print(getLongestWord(['Mahmoud', 'Alaa','Helmy']))

Longest word: Mahmoud
Length of the longest word: 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [181]:
def exchange_chars_1(input_string,char):
    if len(input_string) < 2:
        return input_string
    return input_string[-1] + input_string[1:-1] + input_string[0]

sample_string = "abca"
result_1 = exchange_chars_1(sample_string)
print(result_1)

Result using method 1: abca

In [185]:
my_string = "abce"
if len(my_string) < 2:
    my_string 

print(f"{my_string[-1]}{my_string[1:-1]}{my_string[0]}")

ebca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [20]:
n = 'abca'
print(n[::2])

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [25]:
sentence = 'amr and ahmed are frindes but amr is the tallest'
words=sentence.lower().split()
wordConuts = {}
for word in words :
    if word in wordConuts:
        wordConuts[word] += 1
    else:
        wordConuts[word] = 1
occurrencesCount = 0
mostRepeatedWord = ''
for word in wordConuts:
    if wordConuts[word] > occurrencesCount:
        occurrencesCount = wordConuts[word]
        mostRepeatedWord = word

print(f'The most repeated word is: {mostRepeatedWord} \nNumber of occurrences: {occurrencesCount}')

The most repeated word is: amr
Number of occurrences: 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [26]:
n = input('Enter a word: ')
print(n.upper())
print(n.lower())

MAHMOUD
mahmoud

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [29]:
def reverseTheString(word):
    if len(word) % 4 ==0 : 
        return word[::-1]
    else:
        return word
print(reverseTheString('mahmouds'))

sduomham

**10- Write a Python program to remove a newline in Python

In [28]:
n = "Hello \nworld"
# print(n.strip()) 
print(n.replace("\n", ""))

Hello world

**11-Write a Python program to check whether a string starts with specified characters

In [2]:
name = "Mahmoud"
char = "M"

if(name.startswith(char)):
    print("Yes")
else:
    print("No")

Yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [5]:
name = "Mahmoud \nAlaa \nHelmy"
prefix = "-->"

newName = name.splitlines()
for i in newName:
    print(prefix + i)

-->Mahmoud
-->Alaa
-->Helmy

**13-Write a Python program to print the following numbers up to 2 decimal places

In [14]:
numbers = [123.456, 2.5, 10, 12345.6789]
for num in numbers:
    # round() for rounding off to 2 decimal places but if the number is an integer, it will be printed without decimal places.
    print(round(num, 2))
    # f-strings for concise formatting
    print(f"{num:.2f}")

123.46
123.46
2.5
2.50
10
10.00
12345.68
12345.68

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
numbers = [123.456, -2.5, 10, 12345.6789]
for num in numbers:
    print(round(num, 2))
    # f-strings for concise formatting
    print(f"{num:.2f}")

**15-Write a Python program to display a number with a comma separator

In [15]:
number = 123
print(f"{number:.1f}")

123.0

**16-Write a Python program to reverse a string using 2 ways

In [20]:
name = "Mahmoud"
# First way
print(''.join(reversed(name)))
# Second way
# [start:end:step]
print(name[::-1])

duomhaM
duomhaM

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [29]:
word = 'mahmoud alaa'
chars=word.lower().replace(' ','')
print(chars)
charConuts = {}
for char in chars :
    if char in charConuts:
        charConuts[char] += 1
    else:
        charConuts[char] = 1
occurrencesCount = 0
mostRepeatedChar = ''
for char in charConuts:
    if charConuts[char] > occurrencesCount:
        occurrencesCount = charConuts[char]
        mostRepeatedChar = char

print(f'The most repeated char is: {mostRepeatedChar} \nNumber of occurrences: {occurrencesCount}')

mahmoudalaa
The most repeated char is: a
Number of occurrences: 4

**18-Write a Python program to find the first non-repeating character in a given string

In [31]:
word = 'mahmoud alaa'
chars=word.lower().replace(' ','')
print(chars)
charConuts = {}
for char in chars :
    if char in charConuts:
        charConuts[char] += 1
    else:
        charConuts[char] = 1
occurrencesCount = 1
nonRepeatedChar = ''
for char in charConuts:
    if charConuts[char] == occurrencesCount:
        occurrencesCount = charConuts[char]
        nonRepeatedChar = char
        break

print(f'The non repeated char is: {nonRepeatedChar} \nNumber of occurrences: {occurrencesCount}')

mahmoudalaa
The non repeated char is: h
Number of occurrences: 1

**19-Write a Python program to remove spaces from a given string

In [35]:
name = 'Mahmoud Alaa Helmy'
print(name.replace(' ',''))

MahmoudAlaaHelmy

**20-Write a Python program to count the number of non-empty substrings of a given string

In [38]:
name = 'Mahmoud Alaa Helmy'
print(len(name.replace(' ','')))

16

**21-write a Python program to swap first and last element of any list.

In [40]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
temp = l[0]
l[0] = l[-1]
l[-1] = temp
print(l)

[9, 2, 3, 4, 5, 6, 7, 8, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [52]:
l = [23, 65, 19, 90]
pos1 = 1
pos2 = 3
if pos1 < 0 or pos1 >= len(l) or pos2 < 0 or pos2 >= len(l):
    print("Invalid positions provided")
else:
    temp = l[pos1-1]
    l[pos1-1] = l[pos2-1]
    l[pos2-1] = temp
    print(l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [68]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(l))

9
18

In [64]:
def getListLength(list):
  if not list:
    return 0
  else:
    return 1 + getListLength(list[1:])
print(getListLength(l))

9

In [67]:
count=0
for i in l:
    count += 1
print(count)

9

In [69]:
print(sum( 1 for i in l))

9

**24-write a Python code to find the Maximum number of list of numbers.

In [76]:
l = [3, 15, 2, 7, 10]
maxNumber = l[0]
for i in l:
    if i > maxNumber:
        maxNumber = i
print(maxNumber)

15

In [ ]:
listOfNumbers = [3, 15, 2, 7, 10] 
maxNumber = max(listOfNumbers)
print(f"The minimum number is: {maxNumber}")

**25-write a Python code to find the Minimum number of list of numbers.

In [87]:
listOfNumbers = [3, 15, 2, 7, 10] 
minNumber = min(listOfNumbers)
print(f"The maximum number is: {minNumber}")

The maximum number is: 2

**26-search for if an elem is existing in list

In [89]:
l = [3, 15, 2, 7, 10]
searchNumber = 9
if searchNumber in l: print('Yes')
else: print('No')

No

**27- clear python list using different ways

In [92]:
listOfNumbers = [3, 15, 2, 7, 10]
listOfNumbers.clear()
print(listOfNumbers)

[]

In [93]:
listOfNumbers = [3, 15, 2, 7, 10]
listOfNumbers = []
print(listOfNumbers)

[]

**28-remove duplicated elements from a list

In [95]:
listOfNumbers = [3, 15, 3, 7, 10,7]
print(list(set(listOfNumbers)))

[10, 3, 7, 15]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [12]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
print([dict(zip(key_list, test_list[i: (i + len(key_list))])) for i in range(0, len(test_list), len(key_list))])

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [14]:
l = [3, 3, 2, 2, 10,4,4]
print(len(set(l)))

4

In [15]:
print(len({element for element in set(l)}))

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [22]:
from collections import Counter
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3 
freq_dict = Counter(test_list)
print([element for element, count in freq_dict.items() if count > k])

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [28]:
nums = [1, 2, 2, 3, 4, 5]
print([ max(nums[i-1],nums[i]) for i in range(1, len(nums))])

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [29]:
from itertools import permutations
digits = [1, 2, 3]
print([ digit for digit in permutations(digits)])

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [41]:
from itertools import combinations
test_list = [1, 2, 3]
all_combinations = []
for r in range(1, len(test_list) + 1):
    all_combinations.extend(combinations(test_list, r))
print(all_combinations)

[(1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [49]:
from itertools import product
list1 = ["a", "b"]
list2 = [1, 2]
all_combinations = product(list1, list2)
unique_combinations = set(tuple(combination) for combination in all_combinations)
print(list(unique_combinations))

[('b', 2), ('a', 1), ('a', 2), ('b', 1)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 
**Output : 2 3 4 5 2)

In [53]:
input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element = 1
result_list = [x for x in input_list if x != element]
print(result_list)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [55]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

result = [list1[i] for i in list2]
print(result)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [60]:
test_list1 = [(4, 5, 5, 4), (5, 4, 3)]
filtered_list = []

K = 5
N = 2
for record in test_list1:
    count_k = record.count(K)
    if count_k == N:
      filtered_list.append(record)
print(filtered_list)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [69]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(len(array)):
    print(f'Sorted array specific to column {i}, {sorted(array, key=lambda x: x[i])}')

Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [84]:
v ={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(dict(sorted(v.items(), key=lambda x: x[0])))

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [104]:
test_dict = {'‘Gfg’': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
k = 7
filtered_dict = {key: value for key, value in test_dict.items() if not (isinstance(value, (int, float)) and value > k)}
print(filtered_dict)

{'‘Gfg’': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [113]:
def concatenate_dicts(*dicts):
    concatenated_dict = {}
    for d in dicts:
        concatenated_dict.update(d)
    return concatenated_dict

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result_dict = concatenate_dicts(dic1, dic2, dic3)

print(result_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [117]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

for key in my_dict:
  print('key:', key)

for value in my_dict.values():
  print('value:', value)

for key, value in my_dict.items():
  print(f"item is {key}: {value}")

key: name
key: age
key: city
value: Alice
value: 30
value: New York
item is name: Alice
item is age: 30
item is city: New York

**44- Write a Python script to merge two Python dictionaries

In [119]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'b': 4}

merged = dict1.copy()
merged.update(dict2)

print(merged)

{'a': 1, 'b': 4, 'c': 3}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [122]:
dict1 = {'a': 2, 'b': 5,'c': 10, 'b': 4}
print(max(dict1.items()))
print(min(dict1.items()))

('c', 10)
('a', 2)

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [131]:
d1 ={'c1': 'Red', 'c2': 'Green', 'c3': None}

print({key: value for key, value in d1.items() if value})

dic ={}
for key, value in d1.items():
     if value is not None:
            dic.update({key: value})
print(dic)

{'c1': 'Red', 'c2': 'Green'}
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [132]:
numbers_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(numbers_tuple[3])

4

**48-Write a Python program to unpack a tuple into several variables

In [133]:
my_tuple = ("mahmoud", 1, [3, 4, 5])

name, number, l = my_tuple

print(f"Name: {name}")
print(f"Number: {number}")
print(f"List: {l}")

Name: mahmoud
Number: 1
List: [3, 4, 5]

**49-Write a Python program to add an item to a tuple

In [135]:
my_tuple = (1, 2, 3, 4, 5)
l =list(my_tuple)
print(l)
l.append(6)
my_tuple = tuple(l)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

In [149]:
my_tuple = ("a", 1, "b", 2, "c", 3)
print(", ".join(str(element) for element in my_tuple))

a, 1, b, 2, c, 3

**51-Write a Python program to convert a list to a tuple

In [150]:
my_list = [1, 2, 3, 4, 5]

my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [151]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[::-1])

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [152]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100
print([(i[:-1] + (new_value,)) for i in sample_list])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [153]:
original_string = "python 3.0"
converted_tuple = tuple(original_string)
print(converted_tuple)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [155]:
tuple_of_tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
my_tuple = [num for sub_tuple in tuple_of_tuples for num in sub_tuple]
print(sum(my_tuple)/len(my_tuple))

5.0

**56-Write a Python program to add member(s) to a set.

In [158]:
my_set = {1, 2, 3}
my_set.add(4)
my_set.update([5, 6, 7])
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [159]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [161]:
def set_operations(set1, set2):
  intersection = set1 & set2  # Intersection using the '&' operator
  union = set1 | set2  # Union using the '|' operator
  difference1 = set1 - set2  # Difference (elements in set1 but not set2)
  difference2 = set2 - set1  # Difference (elements in set2 but not set1)
  symmetric_difference = set1 ^ set2  # Symmetric difference using the '^' operator

  return intersection, union, difference1, difference2, symmetric_difference

# Sample sets
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5, 6}

intersection, union, difference1, difference2, symmetric_difference = set_operations(set1, set2)

print("Intersection:", intersection)
print("Union:", union)
print("Difference (set1 - set2):", difference1)
print("Difference (set2 - set1):", difference2)
print("Symmetric Difference:", symmetric_difference)

Intersection: {2, 3}
Union: {1, 2, 3, 4, 5, 6}
Difference (set1 - set2): {1, 4}
Difference (set2 - set1): {5, 6}
Symmetric Difference: {1, 4, 5, 6}

**59-Write a Python program to find the maximum and minimum values in a set

In [164]:
my_set = {5,1,10,2,4}
print(max(my_set))
print(min(my_set))

10
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [177]:
my_list = [5, 6, 3, 8, 9, 2]
target_sum = 10
seen = set()
pairs = []
for element in my_list:
    complement = target_sum - element
    if complement in seen:
      pairs.append((complement, element))
    seen.add(element)
print(pairs)

[(8, 2)]