# Basics

In [6]:
print('Hello World')

Hello World

In [7]:
print('Hello', 'World')

Hello World

In [8]:
print('Hello', 'World', sep=',')

Hello,World

In [9]:
print('Hello')
print('World')

Hello
World

In [10]:
print('Hello', end='/')
print('World')

Hello/World

------------------------------------------------------

In [11]:
print(3)

3

In [12]:
print(3 + 6)

9

# Datatypes
1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Boolean Type:	bool
4. Sequence Types:	list, tuple
5. Mapping Type:	dict
6. None Type:	NoneType

In [61]:
# Text
s1 = 'python'
s2 = "C++"
s3 = """I Love Programming.
I Love Python and C++.
I Study Data Science and AI.
"""
print(s1, s2, s3, sep='\n')

python
C++
I Love Programming.
I Love Python and C++.
I Study Data Science and AI.

In [62]:
# Numeric
n1 = 5
n2 = 3.7
n3 = 1j

print(n1, n2, n3, sep='\n')

5
3.7
1j

In [63]:
# Boolean
b1 = True
b2 = False

print(b1, b2, sep='\n')

True
False

In [64]:
# Sequences
l = ['a', 3, True]
t = ('a', 2)
print(l, t, sep='\n')

['a', 3, True]
('a', 2)

In [65]:
# mapping
d = {'01':'python', '02':'c++'}
print(d)

{'01': 'python', '02': 'c++'}

In [66]:
# Nonetype
N = None
print(N)

None

In [67]:
print(type(s1), type(n1), type(b1), type(l), type(t), type(d), type(N), sep='\n')

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

--------------------------------------------------------------------------------

# Strings

In [27]:
S = 'I Love Programming'

In [36]:
print(len(S))

18

In [29]:
# Slicing
print(S[2:6])

Love

In [31]:
print(S.capitalize())

I love programming

In [32]:
print(S.upper())

I LOVE PROGRAMMING

In [33]:
print(S.lower())

i love programming

In [35]:
print(S.count('m'))

2

In [38]:
print(S.find('o'))

3

In [40]:
print(S.replace('m', 'l'))

I Love Progralling

In [68]:
txt = "The best thing in the life is programming"
print("life" in txt)

True

In [59]:
s1 = 'python'
s2 = 'c++'

print(s1 + s2)

pythonc++

In [60]:
name = 'ali'
age = 22
job = 'AI Engineer'

print(f'The new customer is called {name}, his age is {age}, and his job is {job}')

The new customer is called ali, his age is 22, and his job is AI Engineer

--------------------------------------------------------------------------------

# Numbers

In [41]:
# Integers
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [42]:
# Floats
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [44]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [51]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
s = '67' # string

#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)
#convert from string to int:
d = int(s)

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

1.0
2
(1+0j)
67
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'int'>

---------------------------------

# Operators
1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators

In [52]:
# Arithmetic operators
x = 6
y = 7

# Addition
print(x + y)

# Subtraction
print(x - y)

# Multiplication
print(x * y)

# Exponentiation
print(x ** y)

# Division
print(x / y)

# Floor division
print(x // y)

# Modulus
print(y % x)

13
-1
42
279936
0.8571428571428571
0
1

In [54]:
# Assignment operators
a = 5

a += 4
print(a)

9

In [55]:
# Comparison operators
a = 25
b = 32

print(a==b)
print(a>b)

False
False

In [56]:
# Logical operators
x = 14
y = 10

# And
print(x < 15 and  x < 10)
print(x < 15 or  x < 10)
print(not(x < 15 and  x < 10))

False
True
True

-------------------------------

# Lists

In [79]:
l1 = ["apple", "orange", "banana"]
l2 = [1, 5, 7, 9, 3]
l3 = [True, False, False]
l4 = ["abc", 34, True, 40, "male"]

In [72]:
print(l1[0], l3[-1], l2[2:4], sep='\n')

apple
False
[7, 9]

In [97]:
l2[2] = 8
print(l2)

[9, 7, 8, 5, 3, 1, 7]

In [89]:
# Asc
l2.sort()
print(l2)

# Desc
l2.sort(reverse=True)
print(l2)

[1, 3, 5, 7, 7, 9]
[9, 7, 7, 5, 3, 1]

In [84]:
l1.sort()
print(l1)

['apple', 'banana', 'orange']

In [90]:
l2.append(7)
print(l2)

[9, 7, 7, 5, 3, 1, 7]

In [91]:
l4.extend(['python', 5])
print(l4)

['abc', 34, True, 40, 'male', 'python', 5]

----------------------------------------------

# Tuples

In [102]:
t1 = ("apple", "banana", "orange")
t2 = (1, 5, 7, 9, 3)
t3 = (True, False, False)
t4 = ("abc", 34, True, 40, "male")

In [103]:
t1[2]

'orange'

In [ ]:
t2[1] = 8
print(t2)

In [105]:
t2 = list(t2)
t2[2] = 8
t2 = tuple(t2)
print(t2)

(1, 5, 8, 9, 3)

In [106]:
t2 = list(t2)
t2.append(6)
t2 = tuple(t2)
print(t2)

(1, 5, 8, 9, 3, 6)

In [108]:
# unpacking
fruits = ("apple", "banana", "orange")

(green, yellow, orange) = fruits

print(green, yellow, orange)

apple banana orange

In [111]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# Dictionary

In [123]:
d = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "electric": False,
  "colors": ["red", "white", "blue"]
}
print(d)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'electric': False, 'colors': ['red', 'white', 'blue']}

In [124]:
d['model']

'Mustang'

In [126]:
print(d.items(), d.keys(), d.values(), sep='\n')

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('electric', False), ('colors', ['red', 'white', 'blue'])])
dict_keys(['brand', 'model', 'year', 'electric', 'colors'])
dict_values(['Ford', 'Mustang', 1964, False, ['red', 'white', 'blue']])

In [127]:
d['year'] = 1970
print(d)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'electric': False, 'colors': ['red', 'white', 'blue']}

In [129]:
d['price'] = '100K'
print(d)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'electric': False, 'colors': ['red', 'white', 'blue'], 'price': '100K'}

# Conditions

In [131]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [132]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [134]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [135]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [136]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [137]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

# Loops

In [140]:
# For loops
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# For loops
for i in range(2, 11):
  print(i)

In [1]:
for x in range(0, 31, 3):
  print(x)

0
3
6
9
12
15
18
21
24
27
30

In [2]:
for x in range(10, 0, -1):
  print(x)

10
9
8
7
6
5
4
3
2
1

In [3]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [4]:
# While loops
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    break
  print(i)

# Functions

In [5]:
def greet(name):
    print(f'Hello {name}')

greet('Ali')

Hello Ali

In [24]:
def get_name(fname, lname):
  print(fname + " " + lname)

get_name("Ali", "Ahmed")

Ali Ahmed

In [26]:
names = ['Ali', 'Ahmed', 'Omar']

def my_function(kids):
  print("The youngest child is " + kids[2])

my_function(names)

The youngest child is Omar